.backgroundBox {
	background-color: var(--primary-main);
	background-image: var(--background-image);

	display: flex;
	flex-direction: column;

	align-items: center;
	justify-content: center;

	height: 100vh;
}

.styledBox {
	background-color: white;
	border-radius: 10px;

	width: 500px;
	height: auto;
	padding: 1.5rem;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.boxItems {
	flex: 1;
	align-self: center;

	width: 100%;
	height: 100%;
}

.admlogin {
	margin-top: 15px;
	text-decoration: underline;
}

.admPassword {
	display: none;
}

.admPassword.hidden {
	display: block;
}
