.button_styled {
	position: absolute;
	width: 500px;
	top: 707px;

	font-family: "Archivo Narrow";
	font-style: normal;
	font-weight: 400;
	font-size: 64px;
	line-height: 86px;

	background: var(--gradient-primary);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	border: none;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

	color: var(--gradient-primary);
}
