.accordion {
	margin-bottom: 20px;
	border: 1px solid var(--primary-dark);
	border-radius: 10px;
	box-shadow: none;
}

.accordionSummary {
	background-color: var(--primary-dark);
	color: white;
	display: flex;
	align-items: center;
	padding: 10px 20px;
    border-radius: 5px;
	text-align: center;
}

.accordionDetails {
	background-color: var(--background-div);
	padding: 15px 25px;
}

.accordionBox {
	min-width: 240px;
}

.tableCell {
	font-weight: bold;
	font-size: 16px;
}

.borderRight {
	border-right: 2px solid var(--background-div);
}
